[Server]
host=localhost
port=8080
username=guest
password=guest
vhost=%2f
queues=test
check_rate=10

[Conditions]
ready_queue_size=0
unack_queue_size=0
total_queue_size=0
consumers_connected=1
open_connections=1
nodes_running=1
node_memory_used=100

[Email]
from=admin@example.com
to=admin@example.com
subject=RabbitMQ alert - Condition met at %s - %s
host=localhost
password=password
ssl=False

[Slack]
url=https://hooks.slack.com/services/some-hashes-here
channel=queues
username=RabbitMQ

[Telegram]
bot_id=telegram-bot-id
channel=telegram-channel